/* reset browser styling */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}


hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

/* style for webpage */




* {
  text-decoration: none;
}

body {
  background-color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: white;
  width: 100%;
  height: 60px;
  margin: 20px 0px;
  position: fixed;
  top: 0px;
}

header .header-logo {
  margin: 0;
  height: 60px;
  text-align: left;
  padding: 0px 20px 0px 20px;
  border-right: 3px solid #111;
  float: left;
  position: static;
}


header .header-nav {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #111;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

header nav ul {
  float: left;
  margin: 0px 20px;
}

header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 22px 16px
}

header nav ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #111;

}

.login-form {
  width: 440px;
  height: 60px;
  float: right;
}

input[type=text], select {
  width: 38%;
  padding: 12px 20px;
  margin: 10px 0px 11px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=password], select {
  width: 38%;
  padding: 12px 20px;
  margin:  10px 0px 11px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  background-color: #6d6e75;
  border: none;
  color: white;
  padding: 12px 20px 11px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 11px 2px;
  cursor: pointer;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: 1px solid grey;
}

.button:hover {
  background-color: white;
  color: black;
}

.addfriendbutton {
  float: right;
  background-color: #6d6e75;
  border: none;
  color: white;
  padding: 8px 12px 9px 12px;
  margin: 11px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: 1px solid grey;
}

.addfriendbutton:hover {
  background-color: white;
  color: black;
}


.removefriendbutton {
  float: right;
  background-color: #fff;
  border: none;
  color: black;
  padding: 8px 12px 9px 12px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: 1px solid grey;

}

.removefriendbutton:hover {
  background-color: red;
  color: black;
}


.edit-button {
  float: left;
  background-color: #6d6e75;
  border: none;
  color: white;
  padding: 12px 20px 11px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 11px 30px 11px 0px;
  cursor: pointer;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: 1px solid grey;
}

.edit-button:hover {
  background-color: white;
  color: black;
}

.pwd-button {
  background-color: #6d6e75;
  border: none;
  color: white;
  padding: 12px 20px 11px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 11px 2px;
  cursor: pointer;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: 1px solid grey;
}

.pwd-button:hover {
  background-color: white;
  color: black;
}


.logout-button {
  float: right;
  background-color: #6d6e75;
  border: none;
  color: white;
  padding: 12px 20px 11px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 7px 2px;
  cursor: pointer;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: 1px solid grey;
}

.logout-button:hover {
  background-color: white;
  color: black;
}

.signup-button {
  float: right;
  background-color: white;
  border: none;
  color: black;
  padding: 12px 20px 11px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 11px 2px;
  cursor: pointer;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: 1px solid grey;
}

.signup-button:hover {
  background-color: white;
  color: black;
}

.upload-button {
  float: left;
  background-color: #6d6e75;
  border: none;
  color: white;
  padding: 4px 20px 4px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 7px 2px;
  cursor: pointer;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: 1px solid grey;
}


.upload-button:hover {
  background-color: white;
  color: black;
}

.upload-button-choose {
  float: left;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 7px 2px;
  cursor: pointer;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: 1px solid grey;
}

.delete-button {
  float: left;
  background-color: white;
  border: none;
  color: black;
  padding: 4px 20px 4px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-top: 32px;
  margin-right: 2px;
  margin-bottom: 11px;
  margin-left: 2px;
  cursor: pointer;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: 1px solid grey;
}

.delete-button:hover {
  background-color: red;
  color: white;
}

a:visited {
  color: black;
}


a:hover {
  color: grey;
  transition: all 0.2s;
}

.main-body {
  margin-top: 150px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 200px;
}

.home-content {
  margin-top: 30px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 200px;
}

.news-container {
  background-color: white;
  float: left;
  width: 300px;
  height: 100%;
  margin-top: 80px;
  margin-left: 80px;
 padding: 20px 20px;

}

.latest-post {
  background-color: white;
  float: right;
  width: 600px;
  height: 100%;
  margin-top: 80px;
  margin-right: 80px;
  margin-bottom: 100px;
  padding: 20px 20px;

}

.form {
  border: 5px solid white;
  width: 430px;
  margin: auto;
}

.signup-form {
  display: block;
  text-align: center;
  margin: 0;
}

.upload-form {
  width: 320px;
  height: 60px;
  float: right;
}

.delete-form {
  width: 0px;
  height: 60px;
  float: right;
}

.msg {
  position: absolute;
  top: 3px;
  right: 5px;
  display: block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  margin-top: 15px;
  margin-bottom: 30px;
}

.signuperror {
  margin: auto;
  padding: 2px;
  width: 222px;
  background-color: red;
  color: white;
  border: 2px solid red;
  border-radius: 5px;
  text-align: center;
}

.loginerror {
  position: absolute;
  top: 65px;
  right: 347px;
  margin: auto;
  padding: 2px;
  width: 200px;
  background-color: red;
  color: white;
  border: 2px solid red;
  border-radius: 5px;
  text-align: center;
}

.uploaderror {
  position: absolute;
  top: 80px;
  right: 174px;
  margin: auto;
  padding: 2px;
  width: 250px;
  background-color: red;
  color: white;
  border: 2px solid red;
  border-radius: 5px;
  text-align: center;
}

.suc {
  margin: auto;
  padding: 2px;
  width: 222px;
  background-color: green;
  color: white;
  border: 2px solid green;
  border-radius: 5px;
  text-align: center;
}

.welcome {
  position: absolute;
  right: 175px;
  top: 34px;
  float: left;
  margin-left: 432px;
  font-family: Arial, Helvetica, sans-serif;

}

.user-container {
  background-color: ;
  height: 60px;
  width: 100%;


}

.user-image {
  float: right;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  margin-right: 5px;
}

img.user-image-all {
  float: left;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  margin-right: 5px;

}

.user-image-comment {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  margin-right: 5px;
}

.user-image-my {
  float: left;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  margin-right: 8px;
}



.user-container-all {
  margin: auto;
  padding-top: 20px;
  background-color: ;
  height: 80px;
  width: 100%;
}

p.username-all{
margin: auto;
}

p.userstatus{
  margin-left: 300px;
  float: left;
}

p.userfullname{
  margin-left: 0px;
  margin-top: 0px;
}


.footer-container {
  background-color: white;
  width: 100%;
  height: 40px;
  margin: 20px 0px;
  position: fixed;
  bottom: 0;
  z-index: -1;
}


.footer {
  text-align: center;
  margin-top: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.contactform-container {
  margin: auto;
  margin-top: 180px;
  width: 380px;
  text-align: center;
  background-color: white;

}

input.contactforminput {
  width: 230px;
  margin: auto;
  margin-top: 20px;
  padding: 12px 20px 12px 20px;
}

input.contactforminputmail {
  width: 190px;
  margin: auto;
  margin-top: 20px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea.contactforminput {
  width: 190px;
  max-width: 50%;
  min-width: 50%;
  height: 140px;
  margin-top: 20px;
  padding: 12px 20px 40px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.about-container {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;
  width: 400px;
  text-align: left;
  background-color: white;
  padding: 0px 120px 60px 120px;
}

.search-container {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;
  width: 600px;
  height: 100%;
  text-align: left;
  background-color: white;
  padding: 0px 120px 0px 120px;
}

.article-box {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.article-result {
  color: blue;
  text-decoration: underline;
}


a.article-result:visited {
  color: blue;
}


a.article-result:hover {
  color: green;
  text-decoration: underline;
  transition: all 0.2s;
}


.myprofile-container {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 100px;
  width: 400px;
  text-align: left;
  background-color: white;
  padding: 0px 120px 0px 120px;
}

.editprofile {
  margin: auto;
  margin-left: 0px;
  width: 90%;
  text-align: left;
  background-color: white;
}

input.editprofile {
  float: right;
  margin: auto;
  width: 60%;
  text-align: left;
  background-color: white;
  padding: 3px 0px 3px 2px;
}

select.editprofile {
  float: right;
  margin: auto;
  width: 60%;
  text-align: left;
  background-color: white;
  padding: 3px 0px 3px 2px;
}

.pwdform{

}

input.pwdform {
width: 100%;
margin:auto;
margin-top: 12px;
margin-bottom: 12px;
}

.createpostfield {
  height:200px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
}

.createcommentfield {
  height:160px;
  width: 100%;
  margin: 40px 40px;
  max-width: 80%;
  min-width: 80%;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
}

.logo-txt {
  margin: auto;
  margin-top: 80px;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: white;
  border-bottom: 3px solid #111;
}

.logo-home {
    width: 1020px;
    margin: auto;
  }

.main-home {
  margin: auto;
  width: 1180px;
}

.required {
  color: red;
}

.homeimg {
  width:300px;
}

div.usercomments{
  margin: 10px 10px;

}

.usercomment-container {
padding-right: 53px;
padding-left: 53px;

}


.captcha-base {
  width: 100px;
  margin-left: 75px;
  margin-right: 0px;
  float: left;
  border-radius: 4px;

}

.captcha-base__reset {
  margin: 15px 130px 15px 0px;
  background-color: #4c45e4;
  color: #ffffff;
  font-weight: bold;
  font-size: 19px;
  border: none;
  cursor: pointer;
  padding: 2px 7px;
  float: right;
}

.captcha-base__input {
  text-align: center;
  height: 30px;
  float: right;
}

.forgottenpwd {
  position: absolute;
  top: 1px;
  right: 220px;
  display: block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-transform: lowercase;
}

input.pwdresetemail {
  width: 75%;
  padding: 12px 20px;
  margin: 10px 0px 11px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.pwdwassucreset{
  margin: auto;
  margin-top: 100px;
  padding: 2px;
  width: 222px;
  background-color: green;
  color: white;
  border: 2px solid green;
  border-radius: 5px;
  text-align: center;

}
